*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(bu.jpg);
    background-repeat: no-repeat;
    /* background-position: flex; */
    background-size: 100% ;
    height: fit-content;
    image-rendering: auto;
    background-attachment: scroll;
    background-position: top;
    /* margin-top: 300px; */
    height: ;
}

                /* Navbar */
header{
    transition: all 0.5s;
     z-index: 997;
    /* padding: 20px 0;  */
}

nav{
    display: flex;
    display-content: inline;
    justify-content: space-between;
    margin-top: 30px;

}

#brand{
    font-family: sans-serif;
    opacity: 80%;
    color: white;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    margin-left: 50px;

}
#side ul li{
    font-family: sans-serif;
    /* font-weight: 50px; */
    color: white;
    display: inline;
    justify-content: space-between ;
    margin-right: 50px;    
}
            /* homepage */
#homepage{
    height: 90%;
    width: 42rem;
}
#home-1 h1{
    color: white;
    margin-top: 275px;
    opacity: 85%;
    margin-left: 40px;
    font-size: 80px;
}

#home-1 p{
    color: white;
    opacity: 85%;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 30px;
    font-family: sans-serif;
}
#home-2 button{
    color: rgba(1, 59, 23, 0.699);
    margin-top: 10px;
    margin-left: 60px;
    width: 140px;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
}